<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Не авторизован</title>
  </head>
  <style>
    body {
    font: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
  }

  button {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  input {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  </style>
  <body>
    <p>Логин или пароль некорректны</p>
  </body>
</html>